# Virtual environment
streamlit_app/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Model files (too large for GitHub)
# *.h5
# *.keras
# *.weights.h5

# Model files
*.keras
*.h5
*.weights.h5

# Allow ONNX
!*.onnx
# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.csv